body{
    display: flex;
    width: 100%;
}

.editorclass{
    background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);

}

